.contenedor{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    max-width: 400px;

}

.button {
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #e1e4e8;
  }