<form  [formGroup]="consignacionForm" *ngIf="consignacion">
  <div class ="contenedor">

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" id = "nombreConsignacion" placeholder="Ingrese el nombre del usuario de la consignación"
      formControlName="nombre" name = "nombreConsignacion"[(ngModel)]="consignacion.nombre" >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Apellido</mat-label>
      <input matInput type="text" id = "apellidoConsignacion" placeholder="Ingrese el apellido del usuario de la consignación"
      formControlName="apellido" name = "apellidoConsignacion" value="apellido" [(ngModel)]="consignacion.apellido">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Dirección</mat-label>
      <input matInput type="text" id = "direccionConsignacion" placeholder="Ingrese la dirección del usuario de la consignación"
      formControlName="direccion" name = "direccionConsignacion" [(ngModel)]="consignacion.direccion">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Identificación</mat-label>
      <input matInput type="number" placeholder="Ingrese la identificación  del usuario de la consignación"
      formControlName="identificacion" id ="identificacion" name = "identificacion" [(ngModel)]="consignacion.identificacion"> 
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Telefóno</mat-label>
      <input matInput type="text" placeholder="Ingrese el teléfono del usuario de la consignación"
      formControlName="telefono" id ="telefonoConsignacion" name = "telefonoConsignacion"  
      [(ngModel)]="consignacion.telefono">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cantidad consignada</mat-label>
      <input matInput type="number" placeholder="Ingrese la cantidd consignada del usuario de la consignación"
      formControlName="cantidadConsignada" id ="cantidadConsignacion" name = "cantidadConsignacion"
      [(ngModel)]="consignacion.cantidadConsignada" > 
    </mat-form-field>

    <!---->
    <button mat-raised-button id= "btn-actualizar" name = "btn-actualizar" color="primary" (click)="actualizar()"  [routerLink]="['/listar']">Actualizar consignación</button>
  </div>
</form>